@page "/edit_bon_de_retour/{Id:int}"

@using System.ComponentModel.DataAnnotations
@using Grs.BioRestock.Transfer.DataModels.BonDeRetourDtos;


<EditForm Model="@ModelbonDeRetour" OnValidSubmit="SaveAsync">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12" sm="7">
                <MudCard>
                <MudCardContent>
                    <MudTextField Label="Id"  @bind-Value="ModelbonDeRetour.Id" For="@(() => ModelbonDeRetour.Id)" Disabled="true"/>
                    <MudTextField Label="Code retour"  @bind-Value="ModelbonDeRetour.Code" For="@(() => ModelbonDeRetour.Code)" />
                    <MudTextField Label="Name Client" @bind-Value="ModelbonDeRetour.CustomerId" For="@(() => ModelbonDeRetour.CustomerId)" />
                    <InputSelect @bind-Value="ModelbonDeRetour.AnomalyType" Label="Lot article" Variant="Variant.Filled" style="width:100%; height:25px; border-radius:5px;">
                        @foreach (var depot in Enum.GetValues(typeof(AnomalyType)))
                        {
                            <option value="@depot" style="">@depot</option>
                        }
                    </InputSelect>
                    <MudTextField Label="Réfrence"  @bind-Value="ModelbonDeRetour.Reference" For="@(() => ModelbonDeRetour.Reference)" />
                    <MudTextField Label="Status"  @bind-Value="ModelbonDeRetour.Status" For="@(() => ModelbonDeRetour.Status)" Disabled="true" />
                </MudCardContent>

                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Update</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="5">
                <MudPaper Class="pa-4 mud-height-full">
                    <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
                    @if (success)
                    {
                        <MudText Color="Color.Success">Success</MudText>
                    }
                    else
                    {
                        <MudText Color="@Color.Error">
                            <ValidationSummary />
                        </MudText>
                    }
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.body2" Align="Align.Center">
                    Fill out the form correctly to see the success message.
                </MudText>
            </MudItem>
        </MudGrid>
    </EditForm>
    {
<div style="margin-bottom: 55px"></div>
<MudAppBar Bottom="true" Fixed="true" Color="Color.Primary" Elevation="1" Class="mobile-footer-barr">
    <MudIconButton Icon="@Icons.Material.Filled.KeyboardReturn" Style="background-color: #114e46;color: white" Edge="Edge.Start"
                   OnClick="@(()=>_navigationManager.NavigateTo("/ajout_bon_de_retour"))" />

</MudAppBar>
}

@code {
    private bool _loaded;
    [Inject] private IBonDeRetourClient _bonDeRetourClient { get; set; }
    [Parameter]
    public BonDeRetourDto ModelbonDeRetour { get; set; } = new();
    bool success;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var raw = await _bonDeRetourClient.GetByIdAsync(Id);
            if (raw.Succeeded)
                ModelbonDeRetour = raw.Data;
        }
        catch (Exception)
        {
            throw;
        }
    }

    private async Task SaveAsync()
    {
        string updateContent = Localizer["Voulez-vous Modifier ?"];
        var parameters = new DialogParameters
        {
          { nameof(Shared.Dialogs.ConfirmationDialog.ContentText), string.Format(updateContent) }
        };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
        var dialog = _dialogService.Show<Shared.Dialogs.ConfirmationDialog>(Localizer["Modifier"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var response = await _bonDeRetourClient.AddAsync(ModelbonDeRetour);
            if (response.Succeeded)
            {
                _snackBar.Add(response.Messages[0], Severity.Success);
                _navigationManager.NavigateTo($"/listbonderetour");
            }
            else
            {
                foreach (var message in response.Messages)
                {
                    _snackBar.Add(message, Severity.Error);
                }
            }
        }
    }
 
}